name: 'SnowflakeTerraform CI/CD'

on:
  push:
    branches: [ main, develop ]
    paths: [ 'environments/**', '.github/**', 'modules/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'environments/**', '.github/**', 'modules/**' ]

env:
  TF_VERSION: '1.3.8'

  # Snowflake
  TF_VAR_snowflake_organization_name: ${{ secrets.SNOWFLAKE_ORGANIZATION_NAME }}
  TF_VAR_snowflake_account_name: ${{ secrets.SNOWFLAKE_ACCOUNT_NAME }}
  TF_VAR_snowflake_user: ${{ secrets.SNOWFLAKE_USER }}
  TF_VAR_snowflake_password: ${{ secrets.SNOWFLAKE_PASSWORD }}
  TF_VAR_default_password: ${{ secrets.DEFAULT_PASSWORD }}

  # AWS
  TF_VAR_s3_role_arn: ${{ secrets.S3_ROLE_ARN }}

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        environment: [dev, prod]

    permissions:
      id-token: write
      contents: read
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: Setup AWS credentials
      uses: aws-actions/configure-aws-credentials@v4.0.2
      with:
        role-to-assume: ${{secrets.ASSUME_ROLE_ARN}}
        aws-region: ap-northeast-1

    - name: Terraform Refresh
      run: terraform refresh
      working-directory: ./environments/${{ matrix.environment }}

    - name: Terraform Format
      run: terraform fmt -recursive
      working-directory: ./environments/${{ matrix.environment }}

    - name: Terraform Init
      run: terraform init -upgrade 
      working-directory: ./environments/${{ matrix.environment }}
      
    - name: Terraform Providers
      run: terraform providers
      working-directory: ./environments/${{ matrix.environment }}

    - name: Terraform Validate
      run: terraform validate
      working-directory: ./environments/${{ matrix.environment }}

    - name: Terraform Plan
      if: github.event_name == 'pull_request'
      run: terraform plan
      working-directory: ./environments/${{ matrix.environment }}

    - name: Terraform Apply (Dev)
      if: github.ref == 'refs/heads/main' && github.event_name == 'push' && matrix.environment == 'dev'
      run: terraform apply -auto-approve
      working-directory: ./environments/${{ matrix.environment }}

    - name: Terraform Apply (Prod)
      if: github.ref == 'refs/heads/main' && github.event_name == 'push' && matrix.environment == 'prod'
      run: terraform apply -auto-approve
      working-directory: ./environments/${{ matrix.environment }}